<div class="day-weather__container" [ngSwitch]="true">
  <span class="day-name__text">{{day.name}}</span>
 
  <condi-clouds *ngSwitchCase="day.state === 'Clouds'"></condi-clouds>

  <condi-drizzle *ngSwitchCase="day.state === 'Rain' || day.state === 'Drizzle'"></condi-drizzle>

  <condi-storm *ngSwitchCase="day.state === 'Storm'"></condi-storm>

  <condi-clear *ngSwitchCase="day.state === 'Sunny' || day.state === 'Clear'"></condi-clear>

  <condi-fog *ngSwitchCase="day.state === 'Fog'"></condi-fog>

  <span class="day-temp__text">{{day.temp}}°</span>
  <span class="day-state__text">{{day.state}}</span>
</div>